@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.viewer{
    max-width: 520px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 10px;
}

h1{
    font-family: 'Bree Serif', serif;
    text-align: center;
    padding: 0 10px;
}

h2{
    text-align: center;
}

.popis > h1{
    text-align: center;
    font-size: 35px;
    padding: 0 10px;
    font-family: 'Bree Serif', serif;
    
}

.popis p{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

@media screen and (max-width:758px) and (min-width:380px){
    .viewer{
        margin-top: 10px;
    }

    .popis > h1{
        margin-top: 0.3em;
        font-size: 40px; 
    }
}

@media screen and (max-width:1024px) and (min-width:759px){   
    .viewer{
        padding: 0;
    }

    .popis > h1{
        margin-top: 0.5em;
        font-size: 45px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width:1025px){
    .viewer{
        padding: 0;
    }

    .popis > h1{
        margin-top: 0.5em;
        font-size: 50px;
        letter-spacing: 1px;
    }

    .popis p{
        margin-top: 0.5em;
    }

    body{
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(236,236,236,1) 100%);
    }
}